<div class="jumbotron">
  <h2 class="text-center font-weight-bold">Add new Customer</h2>
</div>

<div style="width: 500px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!isCustomerAdded">

      <div class="alert alert-danger" *ngIf="fillForm">Please Fill Form</div>

      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" required [(ngModel)]="customer.firstName" name="firstName" />
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" required [(ngModel)]="customer.lastName" name="lastName" />
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" required [(ngModel)]="customer.username" name="username" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="customer.password" name="password" />
      </div>

      <div class="form-group">
        <label for="dateOfBirth">Date Of Birth</label>
        <input type="date" class="form-control" id="dateOfBirth" required [(ngModel)]="customer.dateOfBirth" name="dateOfBirth" />
      </div>

      <div class="form-group">
        <label for="role">Role</label><br>
        <select name="role" [(ngModel)]="customer.role">
          <option *ngFor="let roleToSelect of roles" [ngValue]="roleToSelect">
            {{ roleToSelect | roleName }}
          </option>
        </select>
      </div>

      <button (click)="addCustomer()" class="btn btn-success">Create</button>
    </div>

    <div *ngIf="isCustomerAdded">
      <h3>New Customer added!</h3>
      <button class="btn btn-success" (click)="newCustomer()"> + Add More</button>
    </div>
  </div>
</div>
