<h2>Add new Rental</h2>

<div style="width: 500px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!isRentalAdded">

      <p>Renting {{rental.rentedCar?.licensePlate}}
        - {{rental.rentedCar?.brand}} {{rental.rentedCar?.model}} by {{rental.referredCustomer?.username}}</p>

      <div class="form-group">
        <label for="startDate">Start Period</label>
        <input type="date" class="form-control" id="startDate" required [(ngModel)]="rental.startDate" name="startDate" />
      </div>

      <div class="form-group">
        <label for="endDate">End Period</label>
        <input type="date" class="form-control" id="endDate" required [(ngModel)]="rental.endDate" name="endDate" />
      </div>

      <!--div class="form-group">
        <label for="referredCustomer">ID Customer</label>
        <ng-container *ngIf="!rental.referredCustomer; else not_blocked_customer">
          <input type="number" class="form-control" id="referredCustomer" required [(ngModel)]="rental.referredCustomer" name="referredCustomer"/>
        </ng-container>
        <ng-template #not_blocked_customer>
          <input type="number" class="form-control" id="referredCustomer" required [(ngModel)]="rental.referredCustomer" name="referredCustomer" disabled/>
        </ng-template>
      </div>

      <div class="form-group">
        <label for="rentedCar">ID Car</label>
        <ng-container *ngIf="!rental.rentedCar; else not_blocked">
          <select [(ngModel)]="rental.rentedCar">
            <option *ngFor="let car of carsFound" [value]="car.id" >
              {{car.id}}
            </option>
          </select>
        </ng-container>
        <ng-template #not_blocked>
          <input type="number" class="form-control" id="rentedCar" required [(ngModel)]="rental.rentedCar" name="rentedCar" disabled/>
        </ng-template>
      </div-->

      <button (click)="addRental()" class="btn btn-success">Create</button>
    </div>

    <div *ngIf="isRentalAdded">
      <div class="alert alert-success alert-dismissible fade show">
        <strong>Success!</strong><br> Car Rented
      </div>

    </div>
  </div>
</div>
