<body>

  <app-header-form [message]="loginMessage"></app-header-form>

  <form action="/action_page.php" method="post">

    <div class="alert alert-danger" *ngIf="badCredentials">Bad Credentials</div>
    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" [(ngModel)]="username" name="username" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="password" required>

      <app-my-button [buttonConfig]="loginButton" (click)="checkLogin()"></app-my-button>
    </div>

  </form>

  </body>

