<body>

  <h2>Login Form</h2>

  <form action="/action_page.php" method="post">

    <div class="container">
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" [(ngModel)]="username" name="username" required>

      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="password" required>

      <button (click)="login()" type="submit">Login</button>
    </div>

  </form>

  </body>

