<div *ngIf="tableConfig?.search">

    <div class="col-md-4 mb-3">
      <input class="form-control" type="text" [(ngModel)]="searchTerm" #searchInput>
      <button type="submit" class="button btn btn-primary" (click)='onSearchTermFilter()'>Search</button>
      <button class="button btn btn-primary" (click)='clearSearch()'>Clear</button>
    </div>

</div>



<table class="table table-hover table-dark sortable">
  <thead>
    <ng-container *ngFor="let action of tableConfig?.actions">
      <app-my-button
        *ngIf="action == 'New Row'"
        (click)="newRow()"
        [buttonConfig]="newRowButton"
        #button
      >
      </app-my-button>
    </ng-container>

    <tr>
      <th *ngFor="let header of tableConfig?.headers">
        <a>
          {{ header.label }}
          <div *ngIf="tableConfig?.order">
            <i (click)="sortData(header.key, 'asc')" class="fa fa-arrow-up">
            </i>
            <i
              (click)="sortData(header.key, 'desc')" class="fa fa-arrow-down"
            >
            </i>
          </div>
        </a>
      </th>
      <ng-container *ngIf="tableConfig?.actions">
        <th>Action</th>
      </ng-container>

    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="
        let dataItem of data
        | filter: term : tableConfig?.search?.columns!
          | slice
            : (currentPage - 1) * (tableConfig?.pagination?.itemPerPage || 8)
            : currentPage * (tableConfig?.pagination?.itemPerPage || 8)
      "
    >

    <td *ngFor="let header of tableConfig?.headers "> {{ dataItem[header.key] || 'N/D' }} </td>
    <td>
      <ng-container *ngFor="let action of tableConfig?.actions">
        <app-my-button
          *ngIf="action != 'New Row'"
          (click)="performActionOnDataItem({dataItem, action})"
          [buttonConfig]="{
            customCssClass: actionButton.customCssClass,
            text: action,
            icon: actionButton.icon
          }"
          #button
        >
        </app-my-button>

      </ng-container>
      <app-my-button

          (click)="viewDetails({dataItem})"
          [buttonConfig]="{
            customCssClass: 'details-button',
            text: 'View Details',
            icon: 'fa fa-arrow-right'
          }"
          #buttonDetails
        >
        </app-my-button>
    </td>


    </tr>
  </tbody>
</table>


<div *ngIf="tableConfig?.pagination">
  <div>
    <button class="btn btn-sm btn-dark" *ngFor="let itemPerPage of tableConfig?.pagination?.itemPerPageOptions" (click)="setItemPerPage(itemPerPage)">{{ itemPerPage }}</button>
    <br>
    <button class="btn btn-sm btn-dark" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <button class="btn btn-sm btn-dark" (click)="nextPage()" [disabled]="currentPage === getTotalPages()">Next</button>
  </div>
</div >
