<app-header-form [message]="editCustomerMessage"></app-header-form>

<div style="width: 500px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!isCustomerEdited">

      <div class="alert alert-danger" *ngIf="fillForm">Please Fill Form</div>
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" required [(ngModel)]="customerFound.firstName" name="firstName" />
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" required [(ngModel)]="customerFound.lastName" name="lastName" />
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" required [(ngModel)]="customerFound.username" name="username" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" required [(ngModel)]="customerFound.password" name="password" />
      </div>

      <div class="form-group">
        <label for="dateOfBirth">Date Of Birth</label>
        <input type="date" class="form-control" id="dateOfBirth" required [(ngModel)]="customerFound.dateOfBirth" name="dateOfBirth" />
      </div>

      <app-my-button [buttonConfig]="editButton" (click)="editCustomer()">
      </app-my-button>
    </div>

    <div *ngIf="isCustomerEdited">
      <div class="alert alert-success alert-dismissible fade show">
        <strong>Success!</strong><br> Customer updated successfully!
      </div>
    </div>
  </div>
</div>
