<app-header-form [message]="editRentalMessage"></app-header-form>

<div style="width: 500px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!isRentalEdited">

      <div class="form-group">
        <label for="startDate">Start Period</label>
        <input type="date" class="form-control" id="startDate" required [(ngModel)]="rentalFound.startDate" name="startDate" />
      </div>

      <div class="form-group">
        <label for="endDate">End Period</label>
        <input type="date" class="form-control" id="endDate" required [(ngModel)]="rentalFound.endDate" name="endDate" />
      </div>

      <button (click)="editRental()" class="btn btn-success">Edit</button>
    </div>

    <div *ngIf="isRentalEdited">
      <div class="alert alert-success alert-dismissible fade show">
        <strong>Success!</strong><br> Rental updated successfully!
      </div>
    </div>
  </div>
</div>
