<div class="jumbotron">
  <h2 class="text-center font-weight-bold">Edit Car</h2>
</div>

<div style="width: 500px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!isCarEdited">
      <div class="alert alert-danger" *ngIf="fillForm">Please Fill Form</div>
      <div class="form-group">
        <label for="licensePlate">License Plate</label>
        <input type="text" class="form-control" id="licensePlate" required [(ngModel)]="carFound.licensePlate" name="licensePlate" />
      </div>

      <div class="form-group">
        <label for="brand">Brand</label>
        <input type="text" class="form-control" id="brand" required [(ngModel)]="carFound.brand" name="brand" />
      </div>

      <div class="form-group">
        <label for="model">Model</label>
        <input type="text" class="form-control" id="model" required [(ngModel)]="carFound.model" name="model" />
      </div>

      <div class="form-group">
        <label for="year">Registration Year</label>
        <input type="number" class="form-control" id="year" required [(ngModel)]="carFound.year" name="year" />
      </div>

      <div class="form-group">
        <label for="category">Category</label>
        <input class="form-control" id="category" required [(ngModel)]="carFound.category" name="category" />
      </div>

      <app-my-button [buttonConfig]="editButton" (click)="editCar()">
      </app-my-button>
    </div>

    <div *ngIf="isCarEdited">
      <div class="alert alert-success alert-dismissible fade show">
        <strong>Success!</strong><br> Car updated successfully!
      </div>
    </div>
  </div>
</div>
